<ion-header>
  <ion-toolbar color="vermelho-claro">
    <ion-title>Sobre Mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content class="ion-text-center">

      <!-- Minha Foto -->
      <ion-avatar style="margin: 0 auto 16px auto; width: 100px; height: 100px;">
        <img src="/assets/minhaFoto.jpeg" alt="Foto">
      </ion-avatar>

      <!-- Meu Nome -->
      <h2><strong>Joyce Do Vale Silva</strong></h2>

      <ion-text color="medium">
        <p>Estudante de Tecnologia</p>
      </ion-text>

    </ion-card-content>
  </ion-card>

  <!-- Minhas Informações -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>
      <p><strong>Instituição:</strong> UNISUAM</p>
      <p><strong>Email:</strong> joycedovale.s@gmail.com</p>
    </ion-card-content>
  </ion-card>

  <!-- Sobre Mim -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre mim</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Sou estudante apaixonada por tecnologia e desenvolvimento web,
        sempre em busca de aprender coisas novas e evoluir minhas habilidades.
        Tenho experiência com HTML, CSS e JavaScript, e atualmente estou me aprofundando no uso de frameworks
        como Ionic e Angular, desenvolvendo projetos práticos para aprimorar meus conhecimentos.
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Botão voltar -->
  <ion-button expand="block" routerLink="/" color="vermelho-claro">
  Voltar
  </ion-button>

</ion-content>
