<ion-header class="ion-no-border">
  <div class="header-custom">
    <span class="titulo-header">Home</span>
  </div>
</ion-header>

<ion-content class="home-content"  [fullscreen]="false">

  <div class="main-bg">
    <div class="wrapper">

      <div class="cartao-id-fixo">

        <div class="foto-perfil">
          <img src="assets/minhaFoto.jpeg" alt="Foto">
        </div>

        <div class="dados">
          <h2 class="nome">Joyce Do Vale Silva</h2>
          <p class="txt-info">Matrícula: <strong>25106404</strong></p>
          <p class="txt-info">Bonsucesso - Manhã</p>
          <p class="txt-info">Palavra-Chave: (...)</p>
        </div>

        <div class="btn-group-vertical">
          <button class="btn-custom default-red" routerLink="/sobre">
            Tela 2 (Color Change)
          </button>
        </div>

      </div>

    </div>
  </div>
</ion-content>
